* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 12px;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar-track {
  background-image: linear-gradient(135deg, #8bc5ec00 0%, #5396e300 100%);
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
}

*::-webkit-scrollbar-thumb {
  background-color: #0077ff;
  border-radius: 30px;
}


:root {
  font-size: 62.5%;
  /* --- COLORS --- */
  --main-bg: #fffffe;
  --bg-alt: #f2f4f6;

  --headline: #00214d;
  --paragraph: #1b2d45;

  --highlight: #00ebc7;
  --secondary: #ff5470;
  --tertiary: #fde24f;

  /* --- FONT SIZE --- */
  --heading-lg: 3.2rem;
  --heading-md: 2.4rem;
  --heading-sm: 2rem;

  --text-lg: 1.8rem;
  --text-md: 1.6rem;
  --text-sm: 1.4rem;
}

body {
  font-size: var(--text-md);
  font-family: 'Inter', sans-serif;
  line-height: 1.8;
  color: var(--paragraph);

  background-color: var(--main-bg);

  display: flex;
  flex-wrap: wrap;
}

body > * {
  flex: 1 1 100vw;
}

img {
  width: 100%;
  display: block;
  border-radius: 0.5rem;
}

article img {
  margin-top: 2rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-flex;
}

.section {
  /* margin-block-end: 3rem; */
  padding-block: 6rem;
}

.container {
  padding-inline: 2rem;
}

.container header {
  margin-bottom: 2rem;
}

/* HEADER */
#header {
  padding: 0 2rem;
  margin-block-end: 3rem;
}

#header .img {
  max-width: 500px;
  border-radius: 0.5rem;
  padding: 0.15rem;
  margin-top: 2rem;

  background: red;
  background: linear-gradient(var(--highlight), var(--bg-alt));

  overflow: hidden;
}

/* navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
}

#logo {
  width: 100px;
}

.menu {
  display: flex;
  gap: 1rem;
  position:fixed;
  right: 30px;
  background-color: #ffffff6c;
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 20px;
  padding: 5px;
  z-index: 999;
}
.menu li {
  height: 30px;

}
.menu li a {
  color: #00214d;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}
.menu li a:hover {
  border-bottom: 4px solid #00ebc7;
}

/* INTRO */
#intro {
  background: var(--bg-alt);
}

#intro .card {
  padding: 2rem;
  background: var(--main-bg);
  margin-block-end: 2rem;
}

/* INVITE */
#invite .link-form {
  background: var(--secondary);
  color: var(--bg-alt);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-block-start: 2rem;
  transition: 0.2s;
}

#invite .link-form:nth-of-type(2) {
  background: var(--headline);
}

#invite .link-form:hover {
  opacity: 0.9;
}

/* DEVOTIONAL */
#devotional {
  background: var(--bg-alt);
}

#devotional .card {
  background: var(--main-bg);

  margin-block: 4rem;
  padding: 1rem;

  border: 1px solid var(--headline);
}

#devotional img {
  margin: 0;
}

#devotional a {
  width: 15rem;
  justify-content: center;

  font-weight: 600;
  color: var(--headline);
  background: var(--highlight);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}


/* FOOTER */
footer {
  padding-block: 2rem;
}
.swiper {
  max-width: 300px;
  height: fit-content;
}

.swiper-wrapper {
  display: flex;
}
